@model Monotoring.Models.DelayCode

@{
    ViewBag.Title = "Eliminar Código";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar</h2>


<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DelayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelayName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a la lista", "Index")
        </div>
    }
</div>
