@model Monotoring.Models.DelayCode

@{
    ViewBag.Title = "Eliminar - Código de retraso";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>¿Desea continuar con la eliminación?</h3>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DelayName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DelayName)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            <a class="btn btn-default" href="/Config/">Cancelar</a>
        </div>
    }
</div>
