@model Monotoring.Models.FamilyProduct

@{
    ViewBag.Title = "Eliminar - Familia";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h3>¿Seguro que desea eliminarlo?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nameFamily)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nameFamily)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @*@Html.ActionLink("Cancelar", "Index")*@
            <a class="btn btn-default" href="/Config/">Cancelar</a>
        </div>
    }
</div>
