/*Sidebar*/
#sidebar-wrapper{
  z-index: 1;
  position: fixed;
  width:  0;
  height: 100%;
  overflow-y: hidden;
  background: #0e475c;

}

/*   Main content */
#page-content-wrapper{
  width: 100%;
  position: absolute;
  padding: 15;

}

#wrapper.menuDisplayed #sidebar-wrapper{
  width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-left: 250px;
}

.sidebar-nav{
  padding: 0;
  list-style: none;
}

.sidebar-nav li{
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav li a:hover{
  background: #209eb4;
  color:#0d0d0c;
}

.navbar-Bax {
  background-color: #045f81;
  border-color: #e7e7e7;
}
.navbar-Bax .navbar-brand {
  color: #fff;
}
.navbar-Bax .navbar-brand:hover,
.navbar-Bax .navbar-brand:focus {
  color: #b5dfe0;
  background-color: transparent;
}
.navbar-Bax .navbar-nav > li > a {
  color: #fff;
}
.navbar-Bax .navbar-nav > li > a:hover,
.navbar-Bax .navbar-nav > li > a:focus {
  color: #fff;
  background-color: #209eb4;
}

.bg-BaxColor {
  background-color: #045f81;
}
a.bg-BaxColor:hover,
a.bg-BaxColor:focus {
  background-color: #ebfb35;
}