/*Sidebar*/
#sidebar-wrapper{
  z-index: 1;
  position: fixed;
  width:  0;
  height: 100%;
  overflow-y: hidden;
  background: #1031e0;

}

/*   Main content */
#page-content-wrapper{
  width: 100%;
  position: absolute;
  padding: 15;

}

#wrapper.menuDisplayed #sidebar-wrapper{
  width: 250px;
}

#wrapper.menuDisplayed #page-content-wrapper{
  padding-left: 250px;
}

.sidebar-nav{
  padding: 0;
  list-style: none;
}

.sidebar-nav li{
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a{
  display: block;
  text-decoration: none;
  color: #ddd;
}

.sidebar-nav li a:hover{
  background: #209eb4;
  color:#0d0d0c;
}
