
@{
    ViewBag.Title = "Finish";
}
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="jumbotron">
            <h1>Your completed the questionnaire.</h1>
            <p>Thanks for take a time to answwer this form. It was send to HR successfully.</p>
        </div>
    </div>
</div>

