
@{
    ViewBag.Title = "Finish";
}
<br />
<br />
<br />
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="jumbotron">
            <br />
            <br />
            <h2 class="text-center">Thanks for take a time to answer this form. It was submitted successfully.</h2>
            <h1 class="text-center"><span class="glyphicon glyphicon-cloud-upload"></span></h1>
            <br />
            <br />
            <br />
            <br />
        </div>
    </div>
</div>

